.Rproj.user
.Rhistory
.RData
.Ruserdata
.N uptake_CT/data/neon_data_derived/q_dataset.Rdata
.N uptake_CT/data/neon_data_derived/par_wsurf_dataset_01m.Rdata
.N uptake_CT/data/neon_data_derived/precip_dataset_through.precip01.Rdata
.N uptake_CT/data/neon_data_derived/par_wsurf_dataset_05m.Rdata
.N uptake_CT/data/neon_data_raw/wtemp_data.Rdata
.N uptake_CT/data/neon_data_raw/par_wsurf_data.Rdata
.N uptake_CT/data/neon_data_raw/precip_data.Rdata
.N uptake_CT/data/neon_data_raw/q_data.Rdata
.DS_Store
**/.DS_Store
field_data_workup/GPP/augBC_fit.RData
field_data_workup/GPP/augBC_fit_old.RData
field_data_workup/GPP/octBC_fit.RData
field_data_workup/GPP/old/augBC_fit.RData
field_data_workup/GPP/old/octBC_fit.RData
.DS_Store
N_uptake_NEON/.DS_Store
N_uptake_NEON/data/.DS_Store
