.Rproj.user
.Rhistory
.RData
.Ruserdata
.N uptake_CT/data/neon_data_derived/q_dataset.Rdata
.N uptake_CT/data/neon_data_derived/par_wsurf_dataset_01m.Rdata
.N uptake_CT/data/neon_data_derived/precip_dataset_through.precip01.Rdata
.N uptake_CT/data/neon_data_derived/par_wsurf_dataset_05m.Rdata
.N uptake_CT/data/neon_data_raw/wtemp_data.Rdata
.N uptake_CT/data/neon_data_raw/par_wsurf_data.Rdata
.N uptake_CT/data/neon_data_raw/precip_data.Rdata
.N uptake_CT/data/neon_data_raw/q_data.Rdata
.DS_Store
**/.DS_Store
N_uptake_NEON/.DS_Store
N_uptake_NEON/data/.DS_Store
N_uptake_NEON/images/.DS_Store
field_data_workup/GPP/augBC_fit.RData
field_data_workup/GPP/augBC_fit_old.RData
field_data_workup/GPP/octBC_fit.RData
field_data_workup/GPP/old/augBC_fit.RData
field_data_workup/GPP/old/octBC_fit.RData
N_uptake_NEON/data/Archive_data/no3_derived_data/CARI-KING-BIGC-WALK_deriveddata/par_wsurf_dataset_01m.Rdata
N_uptake_NEON/data/Archive_data/no3_derived_data/CARI-KING-BIGC-WALK_deriveddata/precip_dataset_through.precip01.Rdata
N_uptake_NEON/data/Archive_data/no3_derived_data/CARI-KING-BIGC-WALK_deriveddata/q_dataset.Rdata
N_uptake_NEON/data/Archive_data/no3_raw_data/CARI-BIGC-KING-WALK_rawdata/par_wsurf_data.Rdata
N_uptake_NEON/data/Archive_data/no3_raw_data/CARI-BIGC-KING-WALK_rawdata/precip_data.Rdata
N_uptake_NEON/data/Archive_data/no3_raw_data/CARI-BIGC-KING-WALK_rawdata/q_data.Rdata
N_uptake_NEON/data/GPP_Marzolf_published.zip
N_uptake_NEON/data/z_K600_Aho_EDI/PRIN_big_K600_v2.rds
N_uptake_NEON/data/z_K600_Aho_EDI/PRIN_little_k600_v2.rds
N_uptake_NEON/data/neon_data_derived/q_dataset.prov.Rds
N_uptake_NEON/data/neon_data_derived/q_dataset.Rds
N_uptake_NEON/data/neon_data_raw/q_data_2124.Rdata
N_uptake_NEON/data/neon_data_raw/q_data_2324prov.Rdata
